.edit-item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 4px ridge rgb(232, 182, 31);
    padding: 1rem;
}

.edit-item-form {
    display: flex;
    flex-direction: column;
    border: 4px outset silver;
    text-align: center;
    align-items: center;
    width: 500px;
}

.edit-item-form button {
    width: 120px;
}

.select-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-select-window {
    border: 2px solid purple;
    width: 408px;
    height: 500px;
}

.top-options {
    display: flex;
    width: 460px;
    justify-content: space-between;
}
.dropdowns {
    display: flex;
    width: 240px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid silver;
    align-items: flex-end;
    padding: 4px;
}

.checkboxes-and-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid silver;
    width: 220px;
    padding: 4px;
}

input[type='number'] {
    text-align: center;
    width: 50px;
}
select {
    text-align: center;
    width: 140px;
}

.mods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mods {
    border: 2px solid silver;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
    padding: 4px;
}


.mods label {
    width: 60px;
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

/* textarea {
    width: 400px;
    resize: none !important;

} */

.first-container {
    padding: 10px;
}

@media (max-width: 768px) {
    .edit-item-form {
        width: 100%;
    }
    .edit-item-main {
    }
    label {
        font-size: 12px;
    }
    .top-options {
        flex-direction: column;
        align-items: center;
    }
}