.character-list {
    border: 4px ridge silver;
    height: 400px;
    text-align: center;
}
.character-list ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the list items */
}

.character-list li {
    text-align: center; /* Center the text within each list item */
}

.characters {
    border: 4px ridge silver;
    margin: 30px 20px 20px 20px;
}