.character-sheet {
    display: flex;
    width: 300px;
    height: 760px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.715);
    backdrop-filter: blur(10px);}

.character-sheet::before {
    content: "";
    position: absolute;
    top: 5.6%;
    width: 102%;
    height: 84%;
    min-width: 600px;
    border-image-source: url('/assets/borders/border 9.png');
    border-image-slice: 40%; 
    border-image-width: 29%;
    border-image-outset: 114px; 
    border-image-repeat: stretch; 
    border-style: solid;
    pointer-events: none;
}

.character-sheet ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}
.character-sheet h2 {
    text-align: center;
}

.top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px ridge silver
}
.character-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px ridge silver;
    height: 130px;
    flex-wrap: wrap;
}
.character-stats-container p {
    color: white
}

.items {
    display: flex;
    flex-wrap: wrap;
    height: 309px;
    border: 4px ridge silver
}

.weapon-1-info,
.weapon-2-info {
    border: 2px solid silver;
    height: 100px;
    font-size: 10px;
    text-align: center; /* Center the list items */
}

.item-info {
    display: flex;
    border: 2px solid silver;
    height: 100px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}



.bot-container {
    display: flex;
    border: 2px solid red;
    height: 180px;
    justify-content: space-around;
}

.damage {
    font-size: 18px;
}


.weapon-1-ranges h6, span,
.weapon2-ranges,
.total-damages {
    font-size: 10px;
    margin: 0;
    text-align: center;
    margin-top: 1rem;
}

.weapon-ranges-container {
    border: 2px solid yellow;
}



.character-builder-button,
.delete-character-button {
    margin-top: 22px;
    width: 200px !important;
    height: 40px !important
}


ul img {
    height: 40px;
    width: 40px
}

.damage-container {
    border: 4px ridge silver;
    text-align: center;

}