.character-sheet {
    display: flex;
    width: 300px;
    height: 774px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.715);
    backdrop-filter: blur(10px);

}


.character-sheet::before {
    content: "";
    position: absolute;
    top: 5.6%;
    width: 102%;
    height: 84%;
    min-width: 600px;
    border-image-source: url('/assets/borders/border 9.png');
    border-image-slice: 40%; 
    border-image-width: 29%;
    border-image-outset: 114px; 
    border-image-repeat: stretch; 
    border-style: solid;
    pointer-events: none;
}

.character-sheet ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.character-sheet h2 {
    text-align: center;
    background-image: url('/assets/backgrounds/item container background 1.png');
    background-size: cover;
    width: 100%;
    border-bottom: 4px ridge rgb(150, 117, 89);
}

.top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.character-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 146px;
    width: 68%;
    flex-wrap: wrap;
    position: relative;
    margin-top: 0.3rem;
}


.character-stats-container p {
    color: white
}

.items {
    display: flex;
    flex-wrap: wrap;
    height: 309px;
    justify-content: space-around;
    align-items: center;
}

.weapon-1-info,
.weapon-2-info {
    border: 2px solid silver;
    height: 100px;
    font-size: 10px;
    text-align: center;
}

.item-info {
    display: flex;
    border: 2px solid silver;
    height: 100px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}



.bot-container {
    display: flex;
    border: 2px solid red;
    height: 180px;
    justify-content: space-around;
}

.damage {
    font-size: 18px;
}


.weapon-1-ranges h6, span,
.weapon2-ranges,
.total-damages {
    font-size: 10px;
    margin-top: 0.6rem;
    text-align: center;
}

.weapon-ranges-container {
    border: 2px solid yellow;
}



.character-builder-button,
.delete-character-button {
    width: 200px !important;
    height: 30px !important
}


ul img {
    height: 40px;
    width: 40px
}

.damage-container {
    text-align: center;
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    width: 250px;
    background-image: url('/assets/backgrounds/button background.png')
}

.damage-container::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 100%;
    height: 100%;
    border-image-source: url('/assets/borders/border 7.png');
    border-image-slice: 40%; 
    border-image-width: 40%;
    border-image-outset: 20px; 
    border-image-repeat: stretch; 
    border-style: solid;
    pointer-events: none;
}

.character-sheet-attributes,
.character-sheet-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px ridge silver;
    height: 100%;
    width: 200px;
    background-image: url('/assets/backgrounds/button background.png');
}

.character-sheet-item-attributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px ridge silver;
    width: 100px;
    height: 50px;
    background-image: url('/assets/backgrounds/button background.png');
}

.character-sheet-item-attributes p {
    font-size: 10px !important;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
