.edit-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 4px ridge silver;
}

.create-item-form {
    display: flex;
    flex-direction: column;
}



