.ItemSelector-CharacterBuilder-container {
    display: flex;
    justify-content: space-around;
    width: 1900px;
}

.character-builder {
    display: flex;
    flex-direction: column;
    border: 4px ridge silver;
    min-width: 600px;
    min-height: 700px;
    margin: 0 2rem 0 2rem;
    background-color: rgba(0, 0, 0, 0.715);
    backdrop-filter: blur(10px);
}
.character-builder::before {
    content: "";
    position: absolute;
    top: 50px;
    width: 30%;
    min-width: 600px;
    height: 86%;
    border-image-source: url('/assets/borders/border 9.png');
    border-image-slice: 40%; 
    border-image-width: 29%;
    border-image-outset: 116px; 
    border-image-repeat: stretch; 
    border-style: solid;
    pointer-events: none;
}

.character-builder h2, h3, h4, h5 {
    text-align: center;
}
.builders {
    display: flex;
}
.left-builder,
.right-builder {
    border: 4px ridge silver;
    padding: 4px;
}

.right-builder h4 {
    text-align: center;
}

.weapon-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.weapon-skills p {
    margin: 0.5em;
    font-size: 14px;
}

.attributes {
    width: 200px;
    padding: 0;
}
.attributes li {
    align-items: baseline;
}
.attribute-number {
    font-size: 20px;
    width: 40px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.attribute-string {
    margin-right: 1rem;
    width: 30px;
    font-size: 16px;
}

.character-builder ul {
    padding: 0;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
}

.total-damages {
    border: 4px ridge silver;
    text-align: center;
    width: 500px;
    height: 173px;
    margin-left: 3rem;
}

.temp-warning {
    background: white;
    font-family: sans-serif;
}

.warning-message {
    position: absolute;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    font-family: sans-serif;
    z-index: 1000;
    opacity: 1;
    transition: opacity .5s ease; /* Fade out over 0.5 seconds */
}
.fade-out {
    opacity: 0;
}

.equipment {
    display: flex;
    flex-direction: column;
    /* width: 100px; */
    height: 150px;
}

.equipped-item {
    display: flex;
    flex-direction: column;
    border: 4px solid silver;
    /* width: 100px; */
    height: 150px;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/backgrounds/item container background 1.png')
}

.equipped-item img {
    border: 2px ridge silver;
    background-image: url('assets/backgrounds/item backdrop 2.png');
}

.equipped-item h6 {
    display: flex;
    font-size: 12px;
    height: 31px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.equipped-item p {
    font-size: 10px;
    text-align: center;
}

.equipped-item img {
    height: 50px;
    width: 50px;
}

.equipment h6 {
    font-size: 14px;
    text-align: center;
}
.equipment p {
    font-size: 12px;
    text-align: center;
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-content: flex-start; /* Align wrapped lines to the top */
    border: 4px ridge silver;
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    word-wrap: break-word;
    white-space: normal;
}

.selected-weapon-skill {
    color: rgb(0, 255, 0)
}

.increment-button,
.decrement-button {
    display: flex;
    height: 22px;
    width: 22px;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.weapon-skill-row {
    display: flex;
}

.save-character-button {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

@media (max-width: 768px) {
    .character-builder {
        height: 100% !important;
        margin: 0;
        min-width: 0px;
        min-height: 0px;
    }

    .builders {
        display: flex;
        /* flex-direction: row; */
        width: 100%;
    }
    .d-flex {
        flex-direction: column-reverse !important
    }
    .ItemSelector-CharacterBuilder-container {
        flex-direction: column-reverse;
    }
    .scroll-window {
        overflow: visible !important;

    }
    .item-selector {
        width: 100% !important;
        height: 100% !important;
    }
    .total-damages {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .attributes {
        width: 100% !important;
    }
    .attribute-container {
        flex-direction: row !important;
    }
    .weapon-skill-row p {
        font-size: 10px;
    }
    /* .equipment {
        min-width: 160px;
        min-height: 230px;
    } */
     .scroll-window .equipment {
        min-width: 50%;
     }
     .item-container {
        overflow: visible;
     }
     .equipped-item h6 {
        font-size: 10px !important
     }
     .equipped-item p {
        font-size: 9px !important
     }
}


.select-character-warning {
    font-size: 24px;
    margin: auto;
}

.equipped-item-attributes {
    height: 45px;
}