.item-selector {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 600px;
    height: 600px;
}

.item-selector h4 {
    text-align: center;
}

.scroll-window {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-content: flex-start; /* Align wrapped lines to the top */
    border: 2px solid green;
    height: 100%; /* Set a fixed height for the container */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    word-wrap: break-word;
    white-space: normal;
}

.equipment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid purple;
    /* width: 100px; */
    height: 150px;
}

.equipment h6 {
    font-size: 14px;
    text-align: center;
}
.equipment p {
    font-size: 12px;
    text-align: center;
}

.equip-buttons-container {
    display: flex;
    justify-content: center;
}

.equip-buttons-container button {
    font-size: 8px;
    font-weight: 900;
    margin-bottom: 0.3rem;
}