.item-selector {
    display: flex;
    flex-direction: column;
    border: 4px outset silver;
    width: 812px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.715);
    backdrop-filter: blur(10px);
}



.item-selector::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -21px;
    min-width: 105%;
    height: 100%;
    border-image-source: url('/assets/borders/border 8.png');
    border-image-slice: 20%; 
    border-image-width: 18%;
    border-image-outset: 80px; 
    border-image-repeat: stretch; 
    border-style: solid;
    pointer-events: none;
}

.item-selector h4 {
    text-align: center;
    font-size: 2rem;
}

.scroll-window {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-content: flex-start; /* Align wrapped lines to the top */
    height: 100%; /* Set a fixed height for the container */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    word-wrap: break-word;
    white-space: normal;
    padding: 2rem;
}

.item-selector-equipment {
    display: flex;
    flex: 0 0 24%;
    height: 290px;
    flex-direction: column;
    justify-content: space-between;
    border: 4px ridge white;
    background-size: cover;
    margin: 0.2rem;
    background-image: url('/assets/backgrounds/item container background 1.png')
}
.item-selector-equipment h6 {
    font-size: 14px;
    text-align: center;
}
.item-selector-equipment p {
    font-size: 12px;
    text-align: center;
}


.equipment h6 {
    font-size: 14px;
    text-align: center;
    height: 40px;
    width: 112px;
}
.equipment p {
    font-size: 12px;
    text-align: center;
}






.equipment-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment-properties img {
    border: 2px ridge silver;
    height: 100px;
    width: 100px;
    background-image: url('assets/backgrounds/item backdrop 2.png');
}

.equipment-properties h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.equip-and-remove-left {
    display: flex;
    flex-direction: column;
}
.equip-and-remove-right {
    display: flex;
    flex-direction: column;
}


.equip-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.equip-buttons-container button {
    display: flex;
    max-width: 46px;
    max-height: 30px;
    font-size: 8px;
    font-weight: 900;
    margin-bottom: 0.3rem;
    /* transform: translateY(-80px); */
}

.equip-twohanded-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .equip-twohanded-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 900;
    width: 46px;
    height: 30px;
    margin-bottom: 0.3rem;
}
  

  /* @media (max-width: 1317px) {
     .equipment {
        width: 33% !important;
     }
  } */



@media (max-width: 1116px) {
    .item-selector-equipment {
        width: 50% !important;
    }
}
@media (max-width: 935px) {
    .item-selector-equipment {
        width: 100% !important;
    }
}

.item {
    background-image: url('/assets/backgrounds/item container background 1.png');
    border-image-source: url('/assets/borders/border 6.png');
    border-image-slice: 30%; 
    border-image-width: 100px; 
    border-image-outset: 20px; 
    border-image-repeat: stretch; 
    border-style: solid; 
    border: none;
    border-width: 20px; 
}

.item-top img {
    background-image: url('/assets/backgrounds/item backdrop 2.png');
    background-size: cover;

}