.all-items-container {
    display: flex;
    padding: 2rem;
}

.sort-container {
}

.weapon-sort,
.armor-sort {
    height: 50%;
    border: 4px outset white;
    text-align: center;
}

.weapon-sort h2,
.armor-sort h2 {
    border: 2px solid rgb(162, 162, 162);
    background: black;
}

.weapon-sort ul,
.armor-sort ul {
    padding: 0;
    margin: 0;
}

.item-list {
    display: flex;
    overflow: auto;
    border: 6px outset white ;
    margin-left: 4.3rem;
    height: 600px;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid silver;
    height: 240px;
    background: black;
}

.item div {
    background: black;
}

.item p {
    font-size: 12px;
}

.item-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    border: 4px ridge rgb(195, 195, 195);
    width: 100px;
    height: 100px;
}

.buttons-container button {
    background-color: rgb(43, 43, 43);
    color: gold;
    width: 80px;
    height: 25px;

}

.stats-group-1 {
    border: 2px solid silver;
    width: 120px;
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.stats-group-1 p {
    width: 60px;
    margin-left: 4px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.attribute {
    display: flex;
    margin-left: 4px;
}

.attribute span {
    margin: 0;
    font-size: 12px;
}

.attribute-number {
    /* color: rgb(0, 255, 0); */
    width: 22px;
}



.sort-on-click {
    border: 4px ridge grey;
    background: black;
    cursor: pointer;
}

@media (max-width: 768px) {
    .all-items-container {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    .item {
        width: 50% !important;
    }
    .item-list {
        margin-left: 0;
        width: 100% !important;
        height: 100%;
        overflow: hidden;
    }
    .item-top h6 {
        font-size: 12px;
    }
    .buttons-container button {
        height: 30px !important;
    }
    .top-options {
        width: 100% !important;
    }
    .mods-container {
        width: 100% !important;
    }
    .description-container {
        width: 100% !important;
    }
}