.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 4px solid silver;
    /* border: 40px solid transparent; Required solid border */
    /* border-image: url('/assets/borders/border 5.png') 40 fill round; */
    background-color: black;
    max-width: 100%;

}
.welcome h1 {
    font-size: 36px;
}

.welcome p {
    width: 380px;
    margin: 2rem 0 2rem 0;
    color: white;
    text-align: center;
}

.welcome h1 {
    margin: 2rem 0 2rem 0;
    text-align: center;
}

@media (max-width: 768px) {
    .home-container {
        height: 100%
    }
    .welcome h1 {
        font-size: 26px;
    }
    .welcome p {
        width: 100%
    }
}
