.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.account-information,
.edit-account-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px ridge grey;
    width: 400px;
    height: 340px;
    padding: 10px
}

.account-information dl {
    text-align: center;
}

.account-information dd,
.edit-account-information dd {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


