.navbar {
    display: flex;
    flex-direction: row;
    border: 4px ridge rgb(232, 182, 31);
    background: rgb(0, 0, 0);
}

.navbar a {
    text-decoration: none;
    color: gold;
}

.navbar li {
    margin: 0 2rem 0 2rem;
}

ul {
    margin: 0;
}

@media (max-width: 375px) {
    .navbar {
        /* font-size: 8px; */
    }
    .navbar li {
    }
}