@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  font-family: 'Cinzel', serif;
  background-color: black;
  color: gold;
  /* background: url('c:/users/mudfobby/workspace/capstone/assets/galvadia background.png'); */
  background-repeat: no-repeat;
  background-position: center 5px;
  width: 1650px;
}

li {
  list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

