@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  font-family: 'Cinzel', serif;
  background-color: black;
  color: gold;
}


li {
  list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6, span {
  margin: 0;
  cursor: default;
}


.selected {
  border: 4px ridge rgb(255, 255, 255);
}

button {
  background-image: url('/assets/backgrounds/button background.png');
  color: white;
}