.container-login {
    background: #6161613a;
    backdrop-filter: blur(10px);
    border: 4px outset silver;
    width: 800px;
    margin-top: 10rem;
}

@media (max-width: 768px) {
    .container-login {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: 14.2em;
    }

    .form-login {
        width: 100% !important;
    }
    #root {
        align-items: center;
    }
}